html{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/background.png");
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.center{
    display: block;
    padding: 2% 5% 2% 5%;
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
    width: 700px;
    background-color: white;
}


/* HEADER */

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    align-items: center;
    background: lightgray;
    padding: 0px 50px 0px 25px;
}
header img{
    justify-self: start;
    height: 50%;
}
header img:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
header nav{
    justify-self: end;
}


/* MAIN */

main{
    background-image: url("images/background_introtext.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template: 80px 70px 1fr / 100%;
}
main p{
    width: 75%;
    padding-bottom: 20px;
    text-align: justify;
}
main ul{
    justify-self: start;
}


/* ARTICLE DIENSTLEISTUNGEN */

#dienstleistungen{
    padding-bottom: 50px;
    display: grid;
    grid-template: 80px 80px 1fr / 1fr;
}
#dienstleistungen h1{
    font-size: 32px;
    grid-column: span 2;
    grid-row: 1;
}
#dienstleistungen p{
    grid-column: span 2;
    grid-row: 2;
}
#grid-figure{
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-template-rows: repeat(auto-fill, 500px);
}
figure{
    padding: 25px;
    border-radius: 5%;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
}
figure img{
    width: 100%;
    max-width: 500px;
    border-radius: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}


/* ARTICLE KONTAKT */

#kontakt{
    display: grid;
    grid-template: 80px 1fr / 1fr;
    justify-items: center;
    padding-bottom: 50px;
}
#kontakt h1{
    font-size: 28px;
}
form{
    display: grid;
    grid-template-rows: repeat(6, 50px);
    align-items: center;
}
input[type="text"]{
    width: 100%;
    max-width: 500px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgrey;
}
textarea{
    width: 100%;
    max-width: 500px;
    height: 75px;
    grid-row: span 2;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgrey;
}
button{
    width: 100%;
    height: 25px;
    max-width: 500px;
    height: 80%;
    align-self: end;
}


/* ARTICLE IMPRESSUM */
#impressum{
    background-color: grey;
    color: white;
    margin: 60px 10% 60px auto;
    padding: 20px 50px 20px 50px;
    width: 500px;
    max-width: 80%;
    border-radius: 5%;
}
#impressum:hover{
    background-image: url("images/background.png");
}
#impressum h1{
    font-size: 30px;
}
#impressum h2{
    font-size: medium;
}
#email{
    color: white;
    text-decoration: none;
}
#email:hover{
    text-decoration: underline;
}


/* FOOTER */
footer{
    padding-left: 5%;
    padding-right: 2.5%;
    background: lightgray;
    display: grid;
    grid-template: 100px / 1fr 1fr 1fr;
    align-items: center;
}
footer nav{
    justify-self: end;
}
footer img{
    justify-self: center;
    height: 50%;
}


/* ARROW UP */
#arrow{
    position: fixed;
    bottom: 100px;
    right: 30px;
}
#arrow img{
    width: 100px;
    -webkit-filter: invert(1);
    filter: invert(1);
}