@media all and (min-width: 801px){
    html{
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("images/background.jpg");
    }
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }

    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 5% 3% 5%;
        min-width: 60%;
        max-width: 900px;
        background-color: white;
    }

    .no-bg {
        background-color: rgba(0, 0, 0, 0.0);
    }
    h1 {
        font-size: 32px;
    }

    /* HEADER */

    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        align-items: center;
        background: lightgray;
        padding: 0px 50px 0px 25px;
    }
    header img{
        justify-self: start;
        height: 50%;
    }
    header nav{
        justify-self: end;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }


    /* MAIN */

    main{
        position: fixed;
        width: 99%;
        height: 100%;
        background-image: url("images/jmd-bg.jpg");
        background-size: cover;
        filter: hue-rotate(170deg);
    }
    main p{
        display:block;
        position: fixed;
        bottom: 100px;
        left: 50%;
        margin-left: -400px;
        margin-top: 30vh;
        width: 800px;
        padding: 30px;
        background-color: white;
        text-align: center;
        border-radius: 5px;
    }
    main ul{
        justify-self: start;
        line-height: 24px;
        font-size: 18px;
    }

    #start {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        background-image: url("images/background_introtext.jpg");
        background-size: contain;
    }
    #start1 {
        width: 100%;
        justify-self: start;
    }
    #start2 {
        width: 100%;
        text-align: justify;
        justify-self: end;
    }
    #start-img {
        width: 75%;
    }

    /* ARTICLE DIENSTLEISTUNGEN */

    #dienstleistungen{
        padding-bottom: 50px;
    }
    article hr {
        width: 100px;
        background-color: gray;
    }
    #dienstleistungen h1{
        font-size: 32px;
        grid-column: span 2;
        grid-row: 1;
    }
    #dienstleistungen p{
        grid-column: span 2;
        grid-row: 2;
    }
    #grid-figure{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15%, 33%));
        justify-items: center;
    }
    figure{
        padding: 10px;
        border-radius: 5%;
    }
    figure img{
        max-width: 100%;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    figcaption{
        padding: 15px;
        text-align: justify;
    }

    #contact-impress {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #dl-span {
        grid-column: span 3;
        margin-bottom: 30px;
        align-self: center;
        display: grid;
        grid-template-columns: 0.5fr 0.75fr 1fr 0.75fr 0.5fr;
        grid-gap: 20px;
    }
    #dl-span img{
        width: 100%;
        cursor: pointer;
    }
    .instagram {
        border-radius: 5%;
    }
    #center-image {
        border-style: solid;
        border-width: 1px;
    }
    #arrow {
        cursor: pointer;
        width: 50%;
    }
    .align-end {
        align-self:flex-end
    }


    /* ARTICLE KONTAKT */

    #kontakt{
        padding-top: 20px;
        display: grid;
        grid-template: 80px 1fr / 1fr;
        justify-items: left;
        padding-bottom: 50px;
    }
    #kontakt h1{
        font-size: 24px;
    }
    form{
        display: grid;
        grid-template-rows: repeat(6, 50px);
        align-items: center;
    }
    input[type="text"], input[type="email"]{
        width: 100%;
        max-width: 500px;
        height: 30px;
        border-radius: 5px;
        border-width: 1px;
        border-color: lightgrey;
    }
    textarea{
        width: 100%;
        max-width: 500px;
        height: 75px;
        grid-row: span 2;
        border-radius: 5px;
        border-width: 1px;
        border-color: lightgrey;
        resize: none;
    }
    button{
        width: 100%;
        height: 25px;
        max-width: 500px;
        height: 80%;
        align-self: end;
    }

    /* ARTICLE IMPRESSUM */
    #impressum{
        background-image: url("images/background_impressum.jpg");
        background-size: 150%;
        color: black;
        padding: 20px 50px 20px 50px;
        width: 90%;
        border-radius: 5%;
        text-align: left;
    }
    #impressum h1{
        font-size: 24px;
    }
    #impressum h2{
        font-size: medium;
    }

    .hr-full {
        width: 100%;
    }

    #email{
        color: black;
        text-decoration: none;
    }
    #email:hover{
        text-decoration: underline;
    }


    /* FOOTER */
    footer{
        padding-left: 2.5%;
        padding-right: 2.5%;
        background: lightgray;
        display: grid;
        grid-template: 100px / 1fr 1fr 1fr;
        align-items: center;
    }
    footer h1{
        font-size: 24px;
    }
    footer nav{
        justify-self: end;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-items: center;
    }
    footer img{
        justify-self: center;
        height: 33%;
    }
}